@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
- Mobile: 375px
- Desktop: 1440px
 */

:root {
    /* Primary */
    --color-green-500: hsl(158, 36%, 37%);
    --color-green-700: hsl(158, 42%, 18%);

    /* Neutral */
    --color-black: hsl(212, 21%, 14%);
    --color-Grey: hsl(228, 12%, 48%);
    --color-Cream: hsl(30, 38%, 92%);
    --color-white: hsl(0, 0%, 100%);

    font-size: 14px;
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: var(--color-Cream);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    align-items: center;
}

main {
    flex-grow: 1;    
    display: flex;
    align-items: center;
    /* min-width: none; */
}

.product-card {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 1rem;
}

.product-card-text {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;

    p {
        color: var(--color-Grey);
        line-height: 1.5;
        flex-grow: 1;
    }
}

.category {
    color: var(--color-Grey);
    text-transform: uppercase;
    letter-spacing: 0.5ch;
}

h1 {
    font-family: Fraunces, Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    line-height: 1;
    margin-block-end: 0.5rem;
}

.price {
    display: flex;
    align-items: center;
}

.current-price {
    font-family: Fraunces, Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-green-500);
    padding-inline-end: 1rem;
}

.original-price {
    color: var(--color-Grey);
    text-decoration: line-through;
}

.button-cart {
    background-color: var(--color-green-500);
    border: 0;
    color: var(--color-white);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-block-start: 1rem;
}

.button-cart:hover {
    background-color: var(--color-green-700);
    cursor: pointer;
}

img {
    max-width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    display: block;
}

footer { 
    font-size: 11px; 
    text-align: center; 
    /* display: flex; */

    span {
        text-wrap: nowrap;
    }

    a { 
        color: var(--color-green-700)
    }
}

@media (width > 375px) {
    .product-card {
        flex-direction: row;
    }

    img {
        max-width: 20rem;
        border-radius: 1rem 0rem 0rem 1rem;
    }

    .product-card-text {
        max-width: 18rem;
        min-width: 16rem;
    }    
}
